{% extends 'base.html.twig' %}

{% block title %}Modification de mot de passe !{% endblock %}

{% block body %}
  
  <div class="container">

     <h1>Modification de Mot de passe</h1>

      {{ form_start(form)}}
      {{ form_widget(form)}}
      <button type="submit" class="btn btn-primary disabled">Enregistrer</button>
      {{ form_end(form)}}

  </div>

{% endblock %}